#task {
    padding: 5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-form-card {
    width: 40rem;
    max-width: 100%;
    padding: 3rem 1.5rem 0;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: var(--border-radius);
}
.task-form-card * {
    margin-bottom: 2rem;
}
.task-form-card form > *:not(.btn) {
    width: 30rem;
    max-width: 100%;
}
